h1 {
  colour: blue;
  text-align: center;
}
h2 {
  color: blue;
  text-align: left;

}
.me {
  font style: arial;
}
img {
  width: 400px;
  height: 400px;
  float: left;
}
.why{
  font-style: italic;
}

.list {



}
