h1 {
  color: dodgerblue;
  text-align: center;
  font-style: oblique;
  font-size: 40;

}
h2 {
  color: dodgerblue;
  text-align: center;
}
body {
  background-image: url(https://unsplash.com/photos/VV-EKYP6TAI);
  Font-family : arial;
  Font-size: 40;
  Font-color: white;

}
.me {
  font-style: arial;
}
img {
  width: 400px;
  height: 400px;
  float: left;
  background-color: black;
}
.why{
  font-style: italic;
  font-size: 40;
  font-color: dodgerblue;
}

.list {



}
