h1 {
  colour: coral blue;
  background-color: white;
  text-align: center;
}
.me {
  background-color: coral blue;
  font style: arial;
}
img {
  width: 200px;
  height: 200px;
  float: left;
}

.list {
  


}
